<div class="centered-card">
    <mat-card class="chat-card shifted-down">
        <div class="chat-list-header">CHATS</div>
        <div class="chat-account-details">
            You are logged as: <b>{{nickname}}</b>&nbsp;
            <button color="primary" mat-stroked-button (click)="logout()">Log Out</button>
        </div>
        <button mat-flat-button class="full-width" (click)="createNewChat()">Create new chat</button>
        <ng-component #chatContainer> </ng-component>
    </mat-card>
</div>