.centered-card {
    display: flex;
    justify-content: center;
}

.chat-card {
    width: 400px;
}

.shifted-down {
    margin-top: 30px;
}

.chat-list-header {
    text-align: center;
    padding: 10px;
    font-size: 25px;
}

.chat-account-details {
    text-align: center;
}
