<div class="centered-card">
    <mat-card class="content-card shifted-down">
        <div style="text-align: center; padding: 10px; font-size: 25px;"> DIPLOMA CHAT </div>
        <mat-tab-group mat-align-tabs="center">
            <mat-tab label="Register">
                <div class="tab-content">
                    <register></register>
                </div>
            </mat-tab>
            <mat-tab label="Log In">
                <div class="tab-content">
                    <login></login>
                </div>
            </mat-tab>
        </mat-tab-group>
    </mat-card>
</div>