<form action="">
    <mat-form-field appearance="fill" style="width: 160px;">
        <mat-label>First name</mat-label>
        <input matInput>
    </mat-form-field>
    <mat-form-field appearance="fill" style="margin-left: 10px; width: 160px;">
        <mat-label>First name</mat-label>
        <input matInput>
    </mat-form-field>

    <mat-form-field appearance="fill" style="width: 330px;">
        <mat-label>Email</mat-label>
        <input matInput type="email" />
    </mat-form-field>

    <mat-form-field appearance="fill" style="width: 330px;">
        <mat-label>Password</mat-label>
        <input matInput type="password" />
    </mat-form-field>
</form>