<div class="centered-card">
    <mat-card class="chat-card shifted-down">
        <mat-card-title> Chat created by: {{CreatorNickname}} </mat-card-title>
        <mat-divider></mat-divider>
        <mat-card-content style="padding-top: 16px;">
            <external-chat-message text="asdas" sender="Вася"></external-chat-message>
            <external-chat-message text="asdas" sender="Вася"></external-chat-message>
            <proper-chat-message text="aaaaaaaaaa"></proper-chat-message>
            <external-chat-message text="asdas" sender="Вася"></external-chat-message>
        </mat-card-content>
        <mat-divider></mat-divider>
        <mat-card-footer>
            <input class="chat-input" type="text" placeholder="Message" />
            <button mat-icon-button color="primary" aria-label="Example icon button with a home icon">
                <mat-icon>send</mat-icon>
            </button>
        </mat-card-footer>
    </mat-card>
</div>