.centered-card {
    display: flex;
    justify-content: center;
}

.chat-card {
    width: 400px;
    padding: 15px;
}

.shifted-down {
    margin-top: 30px;
}

.no-padding {
    padding: 0;
}

.chat-input {
    border-style: none;
    width: 84%;
    margin-left: 20px;
}

.chat-input:focus {
    border-style: none;
    outline: none;
}
