<div class="centered-card">
    <mat-card class="chat-card shifted-down">
        {{chatId}}

        <mat-card-footer>
            <mat-form-field style="padding: 0;">
                <input matInput type="text" />
            </mat-form-field>
            <!-- <input class="chat-input" type="text"/> -->
            <button mat-icon-button color="primary" aria-label="Example icon button with a home icon">
                <mat-icon>send</mat-icon>
            </button>
        </mat-card-footer>
    </mat-card>
</div>