.half-width {
    width: 50%;
    float: left;
}

.list-element {
    padding: 10px;
    height: 20px;
}

.no-select {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.undecorated-link {
    text-decoration: none;
    color: inherit;
}
